.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  height: 200px;
}

.App-header {
  font-family: Arial, sans-serif;
  border: 10px solid #00d8ff;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  margin: 5px 0;
}
